@charset "UTF-8";



@font-face {
    font-family: Omori;
    src: url(fontes/OMORI_GAME.ttf) format(truetype);
}

@font-face {
    font-family: Omori1;
    src: url(fontes/OMORI_GAME2.ttf) format(truetype);
}



  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

  *{
    margin: 0;
    padding: 0; 
   }
   
   
   body{
       height: 100vh;
       background-image: url(https://64.media.tumblr.com/88a77a6e025bd356fbb23b1c2c469514/9b70497cc2682c30-7f/s640x960/159560ce36deaefe3a39720fadbb530762620ecf.gifv);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       background-attachment: fixed;
   
   }
   
   header{
       height: 10vw;
       background-color: black;
       padding: 20px;
   
   }
   
   #logo{
       display: block;
       width: 20vw;
       margin: auto;
   
       
   }
   
   nav{
       background-color: black;
       padding: 20px;
   }
   
   nav > a{
       font-size: 1vw;
       padding: 15px;
       color: white;
       text-decoration: none;
       
   }
   
   nav > a:hover{
       background-color:#4010BD;
       padding: 10px;
       border-radius: 10px;
   
   }
   
main{
   
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 30px;
    max-width: 100%;
    min-width: 320px;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

main h1{
    text-align: center;
    padding: 20px;
    font-family: "Omori1";
    font-size: 2.5em;

}

main h2{
    padding: 30px;
    text-align: left;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.8em;
    font-style: italic;
}

main h3{
    padding: 20px;
    font-size: 1.5;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

main p{
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    line-height: 2.5vw;
    text-align: justify;
    font-size: 1.1vw;

}

main img{
    width: 100%;
  
}

#Livro{
  width: 100%;
}

#Livro > img{
    width: 30vw;
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
   
}

#Receitas{
   
    width: 100%;
    
}   

#Receitas > img{
    display: block;
    width:   20vw;
    margin: auto;
    padding: 20px;
    
    
    
  
}

#altura{
    width: 100%;

}

#altura > img{
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 40vw;
}


#aniversario{
    width: 100%;
}

#aniversario > img{
    width: 30vw;
    padding: 20px;
    margin: auto;
    display: block;
    border: 2px solid black;
    box-shadow: 1px 2px 3px black;
}


#gifemoções{
  width: 100%;
}

#gifemoções > img{
    width: 30vw;
     margin: auto;
     padding: 10px;
     display: block;
     border: 2px solid black;
    box-shadow: 1px 2px 3px black;
}

#tags{
    width: 100%;
    
}

#tags > img{
    display: block;
    margin: auto;
    width: 40vw;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: black;
    padding: 12px;

}

footer > p{
    color: white;
    text-align: center;
    font-family: "Omori1";
    font-size: 1.5em;
}