@charset "UTF-8";



@font-face {
    font-family: Omori;
    src: url(fontes/OMORI_GAME.ttf) format(truetype);
}

@font-face {
    font-family: Omori1;
    src: url(fontes/OMORI_GAME2.ttf) format(truetype);
}



  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
  height: 100vh;  
  background-image: url(imagens/background.png);
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
  
}


header{
   height: 200px;
   padding: 20px;
    background-color: black;
    background-image: url(imagens/omori-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

nav{
    background-color: black;
    padding: 10px;
    margin: auto;
}


nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Omori1';
    font-size: 1.5em;
}

nav >a:hover{
    background-color: rgb(230, 166, 230);
    border-radius: 10px;
    transition-duration: 1s;
}

main{
   
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 30px;
    max-width: 100%;
    min-width: 320px;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

main h1{
    text-align: center;
    padding: 20px;
    font-family: "Omori1";
    font-size: 2.5em;

}

main h2{
    padding: 30px;
    text-align: left;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.8em;
    font-style: italic;
}

main h3{
    padding: 20px;
    font-size: 1.5;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

main p{
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    line-height: 30px;
    text-align: justify;

}

main img{
    width: 100%;
  
}

#Livro{
  width: 100%;
}

#Livro > img{
    max-width: 40%;
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
   
}

#Receitas{
   
    width: 100%;
    
}   

#Receitas > img{
    display: block;
    width:  30%;
    margin: auto;
    padding: 20px;
    
    
    
  
}

#altura{
    width: 100%;
}

#altura > img{
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 65%;
}


#gifemoções{
  width: 100%;
}

#gifemoções > img{
    width: 40%;
     margin: auto;
     padding: 10px;
     display: block;
     border: 2px solid black;
    box-shadow: 1px 2px 3px black;
}

#tags{
    width: 100%;
    
}

#tags > img{
    display: block;
    margin: auto;
    width: 40%;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: black;
    padding: 12px;

}

footer > p{
    color: white;
    text-align: center;
    font-family: "Omori1";
    font-size: 1.5em;
}