@charset "UTF-8";

@font-face {
    font-family: Omori;
    src: url(fontes/OMORI_GAME.ttf) format(truetype);
}

@font-face {
    font-family: Omori1;
    src: url(fontes/OMORI_GAME2.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url(imagens/background.png);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: scroll;
 
   
}

header{

    height: 200px;
    padding: 20px;
    background-image: url("imagens/omori-logo.png");
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
  
}

nav{
    
    padding: 10px;
   margin: auto;
   background-color: black;
  
   
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Omori1';
    font-size: 1.5em;
}

nav >a:hover{
    background-color: rgb(230, 166, 230);
    border-radius: 10px;
    transition-duration: 1s;
}

main{
    
    background-color: white;
    margin: auto;
    padding: 30px;
    width: 80%;
    max-width: 100%;
    min-width: 320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 3px black;
    
}



main h2{
    text-align: center;
    font-family: "Omori1";
    font-size: 3em;
}

main p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    padding: 20px;
    line-height: 30px;
    
}
strong{
    background-color: black;
    color: #ffffff;
    border-radius: 4px;
   
}


#personagens{
    width: 150px;
    height: 320px;
    display: inline;
    

}

#personagens > .sunny{
    width: 120px;
    padding: 20px;
    
}

#personagens > .aubrey{
    width: 120px;
    padding: 20px;
}

#personagens > .aubrey2{
    width: 205px;
    padding: 20px;
}


#personagens > .kel{
    width: 200px;
    padding: 10px;
}

#personagens > .hero{
    width: 155px;
    padding: 20px;
}

#personagens > .hero2{
    width: 136px;
    padding: 20px;
}

#personagens > .basil{
    width: 110px;
    padding: 25px;
}

#personagens > .mari{
    width: 200px;
    padding: 20px;
}




 h1{
   padding: 20px;
}

 h1::after{
    content: "❤️";
}

#final{

    margin: auto;
    min-width: 320px;
    height: 500px;
  background-color: black;
  background-image: url(imagens/agradecimento2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  border-radius: 10px;
  border: 3px solid black;
}



footer{
    background-color: black;
   width: 100%;
   padding: 12px;
   
}

footer > p{
    color: white;
    text-align: center;
    font-family: "Omori1";
    font-size: 1.5em;
}