@charset "UTF-8";

@font-face {
    font-family: Omori;
    src: url(fontes/OMORI_GAME.ttf) format(truetype);
}

@font-face {
    font-family: Omori1;
    src: url(fontes/OMORI_GAME2.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
 margin: 0;
 padding: 0; 
}


body{
    height: 100vh;
    background-image: url(https://64.media.tumblr.com/88a77a6e025bd356fbb23b1c2c469514/9b70497cc2682c30-7f/s640x960/159560ce36deaefe3a39720fadbb530762620ecf.gifv);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
}

header{
    
   height: auto;

    background-color: black;
    
    padding: 1px;

}

#logo{
    display: block;
    width: 20vw;
    margin: auto;

    
}

nav{

    margin: auto;
    padding: 20px;
}


nav > a{
    font-size: 1vw;
    padding: 15px;
    color: white;
    text-decoration: none;
    
}

nav > a:hover{
    background-color:#4010BD;
    padding: 10px;
    border-radius: 10px;

}




main{
    width: 65%;
    background-color: white;
    margin: auto;
    padding: 40px;
    border-radius: 10px 10px;
    
}

main h2{
    font-family:"Omori1";
    text-align: center;
    font-size: 3vw;
}


main h3{
    font-size: 1.7vw;
    text-align: start;
    padding: 20px;
    text-decoration: underline;

}

main p{

    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1vw;
    line-height: 2.5vw;
    padding: 20px;


}

main strong{
    background-color: black;
    border-radius: 5px;
    color: white;
}

main strong > a{
    color: white;
}

main strong > a::after{
    content: "⚠️";
    padding: 10px;
}



#personagens{
display: inline;
width: 20vw;

    

}

#personagens > .sunny{
width: 12vh;
    padding: 20px;
    
}

#personagens > .aubrey{
   width: 12vh;
    padding: 20px;
}

#personagens > .aubrey2{
    width: 20vh;
    padding: 20px;
}


#personagens > .kel{
    width: 20vh;
    padding: 20px;
}

#personagens > .hero{
    width: 15.4vh;
    padding: 20px;
}

#personagens > .hero2{
    width: 13.6vh;
    padding: 20px;
}

#personagens > .basil{
    width: 11vh;
    padding: 25px;
}

#personagens > .mari{
    width: 20vh;
    padding: 20px;
}





 h1{
   padding: 20px;
}

 h1::after{
    content: "❤️";
}


#final{
    background-color: transparent;
    padding: 20px;
    height: 40vh;
}

#final > img{

    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 10px;
}



footer{
    background-color: black;
   width: 100vw;
   padding: 12px;
   
}

footer > p{
    color: white;
    text-align: center;
    font-family: "Omori1";
    font-size: 1.5em;
}