@charset "UTF-8";

@font-face {
    font-family: "Omori";
    src: url(fontes/OMORI_GAME.ttf) format(truetype); 
}

@font-face {
    font-family: "Omori1";
    src: url(fontes/OMORI_GAME2.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    height: 100vh;
    background-color: black;
    margin: auto;
}

header{
    background-color: black;
    background-image: url(imagens/omori-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: scroll;
    height: 200px;
    padding: 20px;
    
}



#logo{
    margin: auto;
    display: block;
    max-width: 1000px;
    min-width: 320px;
}

nav{
    padding: 20px;
    margin: auto;
    background-color: black;
}

nav > a {
   
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Omori1';
    font-size: 1.5em;
}

nav >a:hover{
    background-color: rgb(230, 166, 230);
    border-radius: 10px;
    transition-duration: 1s;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px;
}

main h1{
    font-family: "Omori1";
    font-size: 2.5em;
    text-align: center;
}

main h2{
    text-align: center;
    padding: 20px;
    font-family: "Omori1";
    font-size: 2em;
}

main p{
    text-align: justify;
    line-height: 28px;
    text-indent: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    
   
}

.fotojogo{
    margin: auto;
    display: block;
}

div#video{
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 200px;
    padding-bottom: 20%;
    position: relative;

}

div#video > iframe{
   
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90vw;
    height: 90%;

}


footer{
    background-color: black;
   width: 100%;
   padding: 1px;
   border-radius: 10px;
}

footer > p{
    color: white;
    text-align: center;
    font-family: "Omori1";
    font-size: 1.5em;
}

